* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
* Colors
*/

:root {
    --background: #1a1d1e;
    /* #212224 #292a2b - #181a1c */
    --text: #afafaf;
    /* #a3aecb */
    --table-border: #a3aecb;

    /* Buttons */
    --btn-bg: #0e59a0;
    --btn-txt: #ffffffa9;
    --btn-hvr-bg: #0078e7;

    --btn-alt-bg: #343a40;
    /*2a2d30 343a40*/
    --btn-alt-txt: #ffffffa9;
    --btn-alt-hvr-bg: #424a52;

    --frm-bg: #21212263;
    --frm-border: #2a2a2b;
    --frm-field-bg: #969da0d4;
    --frm-field-border: #2a2a2b;
    --frm-field-color: #000000;
    --frm-field-placeholder-color: #252222d0;

    --app-header-height: 100px;

}


/**
* Main
*/
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

body {
    background-color: var(--background);
    width: calc(100vw - (100vw - 100%));
    /*Make sure body fits within scroll bar*/
    color: var(--text);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

button {
    background-color: var(--btn-bg);
    color: var(--btn-txt);
    border-radius: 3px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hvr-bg);
}

button.alt {
    background-color: var(--btn-alt-bg);
    color: var(--btn-alt-txt);
}

button.alt:hover {
    background-color: var(--btn-alt-hvr-bg);
}


/**
* Form
*/
form.login {
    border-width: 1px;
    border-style: solid;
    border-color: var(--frm-border);
    background-color: var(--frm-bg);
}

form input {
    background-color: var(--frm-field-bg);
    border-color: var(--frm-field-border);
    border: 1px solid var(--frm-field-border);
    color: var(--frm-field-color);
    padding: 5px;
    border-radius: 5px;
}

form input::placeholder {
    color: var(--frm-field-placeholder-color);
}

form .login-message {
    display: flex;
    justify-content: center;
    height: 0px;
    transform: translateY(10px);
    color: #dfaf58cf;
    animation: fadeOut forwards;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

form.settings {
    margin: 30px 0px;
}

form.settings fieldset {
    width: 400px;
}

form.settings .status-message {
    padding: 0px 20px;
    max-height: 100px;
    margin-bottom: 30px;
    overflow: hidden;
    animation: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.status-message--hidden {
    max-height: 0px !important;
    animation: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}


/**
* Menu
*/

nav.app {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    transition: all .5s ease;

    background-color: #00083c12;
}

nav i {
    font-size: 29px;
    color: #fff;
    line-height: 45px;
    width: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:visited {
    color: #fff;
}

nav.app ul {
    margin-top: 25px;
}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 40px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #0e59a0;
    border-left: 2px;
    border-color: #0078e7;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~nav.app {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

@media(min-width : 860px) {
    nav.app {
        position: relative;
        left: 0;
        display: inline-block;
        height: auto;
    }

    #btn,
    #cancel {
        display: none;
    }
}

/**
* Main
*/
.app_outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100vh - var(--app-header-height))
}

main.app {
    display: inline-block;
    padding-left: 75px;
    flex-grow: 1;
    overflow: auto;
    overflow-x: hidden;
}

header.app {
    height: var(--app-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
}