* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
* Colors & variables
*/
:root {
    --background-menu: #081014;
    --background-canvas: #0a151b;
    --background-field: #0a151b;
    --background-table: #0d1a22;
    --background-table-alt: #0F1F29;
    --background-table-accent: #0a151b;

    --border: #5191a2;
    --text: #dfe1e2;
    --text-alt: #dfe1e2;
    --text-inactive: #718383;
    --text-warning: #c48308;
    --text-success: #175c3b;
    --table-text: #dfe1e2;
    --link: #1c74b8;

    --badge-bg: #22313a;
    --badge-accent: #57646d;

    --button-item: #227cbf;
    --button-hover: #26a7f4;
    --button-text: #081014;

    --input-border: #1e6da8;
    --input-background: #0e2938;

    --menu-item: #175c3b;
    --menu-hover: #0c2e1e;
    --menu-accent: #51846c;
    --menu-icon-selected: #268b2f;
    --menu-icon-hover: #26b131;
    --menu-text: #dfe1e2;

    --app-header-height: 100px;
}


/**
 * Scrollbar
 * thumb is the handle
 */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-table-alt)
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-menu);
}

/**
* Generic main style
*/
h1 {
    font-size: 2em;
    line-height: 2.4rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5em !important;
    line-height: 1.9rem;
    margin-top: 0.8rem;
}

h3 {
    font-size: 1.17em;
    line-height: 1.8rem;
    margin-top: 0.6rem;
}

h4 {
    font-size: 1.12em;
    line-height: 1.7rem;
    margin-top: 0.5rem;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

a,
a:visited {
    color: var(--link);
}

body {
    background-color: var(--background-canvas);
    /*Make sure body fits within scroll bar*/
    /* width: calc(100vw - (100vw - 100%)); */
    /* height: calc(100vh - (100vh - 100%)); */
    width: 100vw;
    height: 100vh;

    color: var(--text);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: row;

    line-height: 1.5rem;
}

button {
    background-color: var(--button-item);
    color: var(--button-text);
    border-radius: 3px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

button.alt {
    background-color: var(--badge-pressed);
}

button.alt:hover {
    background-color: var(--button-hover);
}

.warning {
    color: var(--text-warning);
}