* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
* Colors & variables
*/
:root {
    --background-menu: #081014;
    --background-canvas: #0a151b;
    --background-field: #0a151b;
    --background-table: #0d1a22;
    --background-table-alt: #0F1F29;
    --background-table-accent: #0a151b;

    --border: #5191a2;
    --text: #dfe1e2;
    --text-alt: #a8b2b3;
    --text-inactive: #718383;
    --text-warning: #c48308;
    --text-success: #068a4b;
    --table-text: #dfe1e2;
    --link: #1c74b8;

    --badge-bg: #22313a;
    --badge-accent: #57646d;

    --button-item: #227cbf;
    --button-hover: #26a7f4;
    --button-text: #081014;

    --input-border: #1e6da8;
    --input-background: #0e2938;

    --menu-item: #175c3b;
    --menu-hover: #0c2e1e;
    --menu-accent: #51846c;
    --menu-icon-selected: #268b2f;
    --menu-icon-hover: #26b131;
    --menu-text: #dfe1e2;

    --track: #41806f;
    --track-alt: #2e4146;

    --app-header-height: 100px;
}


/**
 * Scrollbar
 * thumb is the handle
 */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-table-alt)
}

::-webkit-scrollbar-thumb {
    background: var(--track);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--track-alt);
}

/**
* Generic main style
*/
h1 {
    font-size: 2em;
    line-height: 2.4rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5em !important;
    line-height: 1.9rem;
    margin-top: 0.8rem;
}

h3 {
    font-size: 1.17em;
    line-height: 1.8rem;
    margin-top: 0.6rem;
}

h4 {
    font-size: 1.12em;
    line-height: 1.7rem;
    margin-top: 0.5rem;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

a,
a:visited {
    color: var(--link);
}

body {
    background-color: var(--background-canvas);
    /*Make sure body fits within scroll bar*/
    /* width: calc(100vw - (100vw - 100%)); */
    /* height: calc(100vh - (100vh - 100%)); */
    width: 100vw;
    height: 100vh;

    color: var(--text);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: row;

    line-height: 1.5rem;
}

.dev-indicator {
    text-align: center;
    height: 0;

    border-top: 2px dashed #c48308bf;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-37px);
    padding-top: 17px;
    margin-bottom: -19px;
    color: #b17608fc;
    font-size: x-large;
    font-weight: bold;
}

/**
* Button
*/
button {
    background-color: var(--button-item);
    color: var(--button-text);
    border-radius: 3px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

button.alt {
    background-color: var(--badge-pressed);
}

button.alt:hover {
    background-color: var(--button-hover);
}

/**
* Checkbox
*/
/* Toggle Button */
input[type='checkbox'] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 5px;
}


/* To create surface of toggle button */
input[type='checkbox']:after {
    content: '';
    width: 33px;
    height: 14px;
    display: inline-block;
    background: var(--badge-accent);
    border-radius: 18px;
    clear: both;
    transition: 0.2s;
    transform: translateY(1px);
    z-index: 0;
}


/* Contents before checkbox to create toggle handle */
input[type='checkbox']:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    border-radius: 50%;
    background: var(--text);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
    z-index: 1;
}


/* Shift the handle to left on check event */
input[type='checkbox']:checked:before {
    left: 15px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Background color when toggle button will be active */
input[type='checkbox']:checked:after {
    background: #16a085;
}


input {
    background-color: var(--input-background);
    border: 2px solid var(--input-border);
    color: var(--table-text);
    padding: 5px;
    border-radius: 5px;
}

input::placeholder {
    color: var(--text-alt);
}

/**
* Dropdown selector
*/
select {
    /* Reset Select */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 2px solid var(--input-border);
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--input-background);
    background-image: none;
    cursor: pointer;
    padding: 5px;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4px);
    background-color: #34495e;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: var(--text-alt);
}


.warning {
    color: var(--text-warning);
}

.success {
    color: var(--text-success);
}


/**
* Loader outer
*/
.dynamic-loader {
    visibility: hidden;
    position: relative;
    height: 40px;
    margin-left: 10px;
}

.dynamic-loader.loading {
    visibility: visible !important;
}

.loading-message {
    margin-left: 65px;
}

/** loader */
.spinner-loading {
    display: flex;
    position: absolute;
    height: 40px;
    width: 60px;
}

.spinner-loading span {
    position: absolute;
    display: block;
    bottom: 18px;
    width: 9px;
    height: 5px;
    background: var(--badge-bg);
    -webkit-animation: bars1 1.5s infinite ease-in-out;
    animation: bars1 1.5s infinite ease-in-out;
}

.spinner-loading span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.spinner-loading span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.spinner-loading span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.spinner-loading span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@keyframes bars1 {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: var(--badge-bg);
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: var(--badge-accent);
    }

    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: var(--badge-bg);
    }

    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: var(--badge-bg);
    }
}

@-webkit-keyframes bars1 {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #000000;
    }

    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }

    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
}

/** END of bars1 */